@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './components/aboutCompany';
@import './components/articleAndNews';
@import './components/btn';
@import './components/baseStyles';
@import './components/customers';
@import './components/features';
@import './components/footer';
@import './components/getNews';
@import './components/header';
@import './components/meetOurTeam';
@import './components/ourServices';
@import './components/projectAndCaseStudies';
@import './components/showcase';
@import './components/testimonial';
@import './components/whyChooseUs';


main {
    grid-area: main;

    //CONTACT specific styles  ---->

    .contact-details {
        @media (max-width: 425px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        margin-top: 120px;
        margin-bottom: 80px;

        .container {
            @media (max-width: 767px) {
                gap: 10px;
            }

            @media (max-width: 575px) {
                flex-direction: column;
                align-items: center;
            }            

            display: flex;
            justify-content: space-between;
            gap: 20px;

            .content-box { border: 1px solid #D1D1D1;
                @media (max-width: 767px) {
                    padding: 25px 0px;
                    text-align: center;
                    width: 100%;
                }

                display: flex;
                width: 420px;
                justify-content: center;
                gap: 24px;
                padding: 50px 0px;

                .icon {
                    @media (max-width: 991px) {
                        display: none;
                    }

                    border-radius: 999px;
                    background-color: #191919;
                    height: 60px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: white;
                        font-size: 20px;
                    }
                }

                .text {
                    h3 {
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 16px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    .message-us {
        @media (max-width: 425px) {
            padding-bottom: 0px;
        }

        padding-bottom: 120px;

        .container {
            @media (max-width: 425px) {
                padding-top: 25px;
                padding-bottom: 50px;
            }

            background-color: #F0EFE9;
            text-align: center;
            padding-top: 130px;
            padding-bottom: 100px;

            .content-box {
                @media (max-width: 991px) {
                    margin: 0px;
                }

                display: flex;
                flex-flow: column;
                margin: 0px 150px;

                h2 {
                    @media (max-width: 431px) {
                        font-size: 35px;
                    }

                    margin-bottom: 22px;
                }

                input, textarea { 
                    border: none;
                    margin-bottom: 16px;
                    height: 56px;
                    border-radius: 28px;
                    padding-left: 20px;

                    &#c-message {
                        padding-top: 14px;
                        margin-bottom: 44px;
                        height: 160px;
                    }
                }
            }
        }
    }

    .google-maps {
        height: 620px;
        width: 100%;
    }


    // NEWS & ARTICLES specific styles ---->

    .our-news-and-articles {
        @media (max-width: 425px) {
            margin-top: 50px;
        }

        margin-top: 120px;

        .container {

            .head {
                @media (max-width: 1399px) {
                    justify-content: center;
                    text-align: center;
                }

                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 20px;
                }

                margin-bottom: 30px;
                display: flex;
                align-items: end;
                justify-content: space-between;

                p {
                    color: #F94D1C;
                }

                h2 {
                    margin-bottom: 0px;
                }

                .btn-transparent {
                    margin-bottom: 8px;
                    width: 210px;
                }
            }

            .content-wrapper {
                @media (max-width: 1399px) {
                    justify-content: center;
                    gap: 20px;
                }

                @media (max-width: 1199px) {
                    flex-direction: column;
                    align-items: center;
                    max-width: 100vw;
                }

                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                margin-bottom: 80px;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: #191919;
                    }
                }

                .content-box {
                    @media (max-width: 1399px) {
                        margin-bottom: 20px;
                    }

                    max-width: 420px;

                    .img-div {
                        position: relative;

                        img {
                            width: 100%;
                        }

                        .date {
                            background-color: #F9D783;
                            text-align: center;
                            width: 13%;
                            position: absolute;
                            top: 15px;
                            left: 15px;

                            .day {
                                margin-top: 16px;
                                margin-bottom: 0px;
                                font-size: 22px;
                                font-weight: 900;
                                font-family: 'DM Sans';
                                line-height: 0.6;
                            }

                            .month {
                                margin-bottom: 8px;
                                margin-top: 0px;
                                color: #5C5238;
                                font-family: 'DM Sans';
                            }
                        }
                    }
                }
            }
        }
    }


    // NEWS-DETAILS specific styles ---->
    .news-details {
        @media (max-width: 1199px) {
            margin-top: 50px;
            margin-bottom: 20px;

            .container {
                display: flex;
                flex-direction: column;
            }
        }

        margin-top: 130px;
        margin-bottom: 60px;

        .head {
            @media (max-width: 1199px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @media (max-width: 537px) {
                text-align: center;
            }

            h2 {
                margin-bottom: 30px;
            }

            div {
                @media (max-width: 537px) {
                    font-size: 10px;

                    i {
                        display: none;
                    }
                }

                @media (max-width: 417px) {
                    display: none;
                }

                display: flex;
                align-items: start;
                flex-wrap: wrap;
                gap: 30px;

                p {
                    font-size: 18px;
                }

                i {
                    color: #F9D783;
                    font-size: 9px;
                }
            }
        }

        .content {
            @media (max-width: 1199px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            display: flex;
            justify-content: space-between;
            gap: 20px;

            .left {
                max-width: 758px;
                width: auto;

                img {
                    margin-bottom: 45px;
                    width: 100%;
                }

                p {
                    font-size: 15px;
                    line-height: 1.7;
                    margin-bottom: 20px;
                    color: #5E5E5E;
                }

                .quote {
                    margin: 50px 0px 50px 0px;
                    display: flex;
                    gap: 24px;

                    p {
                        font-size: 20px;
                        color: #191919;
                    }

                    i {     
                        font-size: 35px;
                    }
                }

                .tags {
                    @media (max-width: 425px) {
                        justify-content: space-around;

                    }
                        
                    
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;
                    gap: 20px;

                    a {
                        background-color: #F3F3F3;
                        width: auto;
                        min-width: 100px;
                        text-decoration: none;
                        color: #191919;
                        border-radius: 28px;
                        padding: 10px 15px 10px 15px;
                        text-align: center;
                    }
                }
            }

            .right {
                @media (max-width: 1199px) {
                    display: none;
                }

                max-width: 420px;
                display: flex;
                flex-direction: column;
                gap: 40px;

                form {
                    width: 100%;
                    height: 56px;
                    border-radius: 28px;
                    
                    padding-left: 20px;
                    background-color: #F3F3F3;

                    input {
                        border: none;
                        background-color: transparent;
                        height: 100%;
                        width: 88%;
                    }

                }

                div {
                    border: 1px solid lightgray;
                    padding: 50px 40px 20px 40px;

                    a {
                        display: block;
                        font-size: 14px;
                        font-weight: 900;
                        text-decoration: none;
                        color: #191919;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    span {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 2.5;
                    }

                    &.recent-posts {

                        a {
                            border-bottom: 1px solid lightgray;
                            padding: 10px 0px 16px 0px;
                        }

                        .last {
                            border: none;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

