
    .btn-yellow {
        background-color: #F9D783;
        border: 1px solid #F9D783;
        height: 46px;
        border-radius: 999px;
        transition: background-color 0.15s, color 0.15s;
        
        i {
            margin-left: 8px;
            transition: background-color 0.15s, color 0.15s;
        }
    
        &:hover {
            background-color: #191919;
            color: #F9D783;
            border: 1px solid #191919;
    
            i {
                color: #F9D783;
            }
        }
    
        &:active {
            background-color: #9b9b9b;
            color: #F9D783;
    
            i {
                color: #F9D783;
            }
        }
    }
    .btn-transparent {
        background-color: transparent;
        border: 1px solid #191919;
        height: 46px;
        border-radius: 999px;
        transition: background-color 0.15s, color 0.15s;
        
        i {
            margin-left: 8px;
            transition: background-color 0.15s, color 0.15s;
        }
    
        &:hover {
            background-color: #191919;
            color: #ffffff;
    
            i {
                color: #ffffff;
            }
        }
    
        &:active {
            background-color: #9b9b9b;
            color: #ffffff;
    
            i {
                color: #ffffff;
            }
        }
    }
    .btn-black {
        background-color: #191919;
        border: 1px solid #191919;
        color: #FFFFFF;
        height: 46px;
        border-radius: 999px;
        transition: background-color 0.15s, color 0.15s;
    
        i {
            color: #FFFFFF;
            margin-left: 8px;
            transition: background-color 0.15s, color 0.15s;
        }
    
        &:hover {
            color: #191919;
            background-color: transparent;
            border: 1px solid #191919;
            height: 46px;
            border-radius: 999px;
    
            i {
                color: #191919;
            }
        }
    
        &:active {
            background-color: #9b9b9b;
            color: #ffffff;
    
            i {
                color: #ffffff;
            }
        }
    }
    .btn-white {
        background-color: #ffffff;
        border: 1px solid #191919;
        height: 46px;
        border-radius: 999px;
        transition: background-color 0.15s, color 0.15s;
        
        i {
            margin-left: 8px;
            transition: background-color 0.15s, color 0.15s;
        }
    
        &:hover {
            background-color: #191919;
            color: #ffffff;
    
            i {
                color: #ffffff;
            }
        }
    
        &:active {
            background-color: #9b9b9b;
            color: #ffffff;
    
            i {
                color: #ffffff;
            }
        }
    }